*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #e9ecef;
  color: #212529;
}

a{
  text-decoration: none;
  color: #6c757d;
}

a:hover{
  color: #00a8e8;
}

li{
  list-style: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #ced4da
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ced4da
}

::-webkit-scrollbar-track {
  background-color: white;
}

header{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 50px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

header .navbar{
  background-color: #f8f9fa;
  color: #212529;
}

.navbar .navbar-brand{
  font-size: 2rem;
  font-weight: bold;
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-brand:hover {
  color: #00a8e8;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #f8f9fa;
}

.footer p {
  margin-bottom: 0;
  color: #212529;
}

button.btn{
  background-color: #00a8e8;
  border-color: #00a8e8;
}

.contenedor-cliente, .contenedor-solicitudes{
  margin-top: 100px;
  margin-bottom: 50px;
}
